<footer>
    <div class="content">
      <div class="left box">
        <div class="upper">
          <div class="topic">Sobre o APP</div>
          <p>A aplicação consiste em enviar e pegar dados e demonstrar
              eles na tela como um chat.
          </p>
        </div>
        <div class="lower">
          <div class="topic">Fale comigo</div>
          <div class="phone">
            <a href="#"><i class="fas fa-phone-volume"></i>+55 (11) 94002-8922</a>
          </div>
          <div class="email">
            <a href="#"><i class="fas fa-envelope"></i>leonmigu2@gmail.com</a>
          </div>
        </div>
      </div>
      <div class="middle box">
        <div class="topic">Repositórios</div>
        <div><a href="https://github.com/wagnerbarth/ApiChatCliqx"
                target="blank"
                >API do Barth</a></div>
        <div><a href="#">Aplicação do Consumo da API</a></div>
      </div>
    </div>
    <div class="bottom">
      <p>2022, Leonardo - <a href="#">Chat do Barth</a> </p>
    </div>
  </footer>
<script src="js/main.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11">
</script>
</body>
</html>