<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Chat do Barth</title>
  </head>
<body>
  <div class="header">
    <a href="#default" class="logo">Chat do Barth</a>
    <div class="header-right">
      <a class="active" href="#home">Home</a>
      <a href="https://github.com/wagnerbarth/ApiChatCliqx">GitHub da API</a>
      <a href="#about">Sobre</a>
    </div>
  </div>

    