<%- include ('./partials/header.ejs') %>

<main class="container">
    <div id="mail-to">
    </div>
        <div id="form">
            <h1 class="heading">Destinário</h1>
          <label for="origem" name="origem" class="move">Origem:</label>
          <input type="text" name="origem" id="origem" class="inputs" value="leo"/>
          <label for="destino"  name="origem" class="move">Destino:</label>
          <input type="text" name="destino" id="destino" class="inputs" value="joao" />
          <section id="chat">
         
        </section>
        <div class="move">
            <h3 class="heading">Mensagem</h3>
            <br />
           
            <textarea id="txt-msg">lasqueira</textarea>
            <br />
            <button onclick="enviarAjax()" class="btn">Enviar</button> <br />
            <button onclick="receberAjax()" class="btn">Receber</button>
        </div>
        </div>
</main> 
<%- include('./partials/footer') %>